Repository infinispan/js-client, pull requests merged in 2021-06, with the labels that each got.

#56 Generate the JUnit XML report for jasmine tests
  run-servers.sh
  run-testsuite.sh
  smoke-tests.sh
Labels: changes suggested

#58 ISPN-13110 Hot Rod JS client docs
  README.md
  documentation/asciidoc/stories/assembly_client_usage_examples.adoc
  documentation/asciidoc/stories/assembly_configuration.adoc
  documentation/asciidoc/stories/assembly_getting_started.adoc
  documentation/asciidoc/titles/js_client.asciidoc
  documentation/asciidoc/titles/stories.adoc
  documentation/asciidoc/topics/attributes/community-attributes.adoc
  documentation/asciidoc/topics/attributes/downstream-attributes.adoc
  documentation/asciidoc/topics/code_examples/authentication-digest.js
  documentation/asciidoc/topics/code_examples/authentication-external.js
  documentation/asciidoc/topics/code_examples/authentication-oauthbearer.js
  documentation/asciidoc/topics/code_examples/authentication-plain.js
  documentation/asciidoc/topics/code_examples/authentication-scram.js
  documentation/asciidoc/topics/code_examples/await-multiple-entries.js
  documentation/asciidoc/topics/code_examples/await-single-entries.js
  documentation/asciidoc/topics/code_examples/conditional-operations.js
  documentation/asciidoc/topics/code_examples/connection-multiple-servers.js
  documentation/asciidoc/topics/code_examples/connection-xsite-cluster-switch.js
  documentation/asciidoc/topics/code_examples/connection-xsite.js
  documentation/asciidoc/topics/code_examples/data-types.js
  documentation/asciidoc/topics/code_examples/encryption-crypto-store.js
  documentation/asciidoc/topics/code_examples/encryption-private-key.js
  documentation/asciidoc/topics/code_examples/encryption-sni-hostname.js
  documentation/asciidoc/topics/code_examples/encryption-trust-certs.js
  documentation/asciidoc/topics/code_examples/ephemeral-data.js
  documentation/asciidoc/topics/code_examples/hello-world.js
  documentation/asciidoc/topics/code_examples/key-value-converter.js
  documentation/asciidoc/topics/code_examples/logging-configuration.js
  documentation/asciidoc/topics/code_examples/multiple-entries.js
  documentation/asciidoc/topics/code_examples/register-event-listener.js
  documentation/asciidoc/topics/code_examples/sample-script-execute.js
  documentation/asciidoc/topics/code_examples/sample-script.js
  documentation/asciidoc/topics/code_examples/single-entries.js
  documentation/asciidoc/topics/community-attributes.adoc
  documentation/asciidoc/topics/config_examples/logging.json
  documentation/asciidoc/topics/downstream-attributes.adoc
  documentation/asciidoc/topics/proc_configuring_authentication.adoc
  documentation/asciidoc/topics/proc_configuring_connections.adoc
  documentation/asciidoc/topics/proc_configuring_connections_xsite.adoc
  documentation/asciidoc/topics/proc_configuring_data_formats.adoc
  documentation/asciidoc/topics/proc_configuring_encryption.adoc
  documentation/asciidoc/topics/proc_configuring_logging.adoc
  documentation/asciidoc/topics/proc_executing_scripts.adoc
  documentation/asciidoc/topics/proc_installing_clients.adoc
  documentation/asciidoc/topics/proc_registering_event_listeners.adoc
  documentation/asciidoc/topics/proc_switching_clusters.adoc
  documentation/asciidoc/topics/proc_using_async_await.adoc
  documentation/asciidoc/topics/proc_using_conditional_operations.adoc
  documentation/asciidoc/topics/proc_working_ephemeral_data.adoc
  documentation/asciidoc/topics/proc_working_multiple_entries.adoc
  documentation/asciidoc/topics/proc_working_single_entries_statistics.adoc
  documentation/asciidoc/topics/ref_authentication_mechanisms.adoc
  documentation/asciidoc/topics/ref_basic_usage.adoc
  documentation/asciidoc/topics/ref_encryption.adoc
Labels: Documentation, Preview

#59 ISPN-13110 Update usage examples
  documentation/asciidoc/stories/assembly_client_usage_examples.adoc
  documentation/asciidoc/stories/assembly_getting_started.adoc
  documentation/asciidoc/stories/assembly_installation_configuration.adoc
  documentation/asciidoc/titles/stories.adoc
  documentation/asciidoc/topics/code_examples/await-single-entries.js
  documentation/asciidoc/topics/code_examples/conditional-operations.js
  documentation/asciidoc/topics/code_examples/ephemeral-data.js
  documentation/asciidoc/topics/code_examples/hello-world.js
  documentation/asciidoc/topics/code_examples/key-value-converter.js
  documentation/asciidoc/topics/code_examples/multiple-entries.js
  documentation/asciidoc/topics/code_examples/register-event-listener.js
  documentation/asciidoc/topics/code_examples/single-entries.js
  documentation/asciidoc/topics/proc_configuring_connections.adoc
  documentation/asciidoc/topics/proc_executing_scripts.adoc
  documentation/asciidoc/topics/proc_registering_event_listeners.adoc
  documentation/asciidoc/topics/proc_using_async_await.adoc
  documentation/asciidoc/topics/proc_using_conditional_operations.adoc
  documentation/asciidoc/topics/proc_working_ephemeral_data.adoc
  documentation/asciidoc/topics/proc_working_multiple_entries.adoc
  documentation/asciidoc/topics/proc_working_single_entries_statistics.adoc
  documentation/asciidoc/topics/ref_basic_usage.adoc
  documentation/asciidoc/topics/ref_client_usage.adoc
Labels: Documentation
